<strong>Olá, {{ deliverymanName }} </strong>
<p>Uma entrega foi cancelada! Confira os detalhes abaixo:</p>
<p>
  <strong>Dados da entrega: </strong> <br /> <br />
  ID do pedido: <strong> {{ id }} </strong> <br />
  Destinatário: <strong> {{ name }} </strong> <br />
  Rua: <strong> {{ street }} </strong> <br />
  Número: <strong> {{ number }} </strong> <br />
  Complemento: <strong> {{ adress_complement }} </strong> <br />
  Estado: <strong> {{ state }} </strong> <br />
  Cidade: <strong> {{ city }} </strong> <br />
  CEP: <strong> {{ postal_code }} </strong> <br />
</p>
