<strong>Olá, {{ deliverymanName }} </strong>
<p>Você tem uma nova encomenda, confira os detalhes abaixo:</p>
<p>
  O produto <strong> {{ product }} </strong> já está disponível para a retirada. <br /> <br />
  <strong>Dados da entrega: </strong> <br /> <br />
  Destinatário: <strong> {{ receiver_name }} </strong> <br />
  Rua: <strong> {{ street }} </strong> <br />
  Número: <strong> {{ number }} </strong> <br />
  Complemento: <strong> {{ adress_complement }} </strong> <br />
  Estado: <strong> {{ state }} </strong> <br />
  Cidade: <strong> {{ city }} </strong> <br />
  CEP: <strong> {{ postal_code }} </strong> <br />
</p>
